<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="m-5">Experience the best car service in Chennai</h1>
        <img src="assets/contact-img1.webp" height="450px" width="530px" class="pb-4 ms-5 ps-5 mb-3">
        <p>Keep your car safe and running smoothly with an authorized Bosch Car Service center. We use genuine parts
            with a<b> 6-month warranty.</b> </p>

        <!-- form -->
        <form>
            <div class="container mt-4 mb-4 bg-white p-4 shadow rounded">
                <h4 class="m-2 text-center">Book Now</h4>

                <label for="fname" class="form-label">Enter your First Name:</label>
                <input type="text" id="fname" class="form-control" placeholder="First name">

                <label for="sname" class="form-label">Enter your Second Name:</label>
                <input type="text" id="sname" class="form-control" placeholder="Second name">

                <label for="pno" class="form-label">Enter your Phone Number Phone:</label>
                <input type="tel" id="pno" class="form-control" placeholder="Phone number">

                <div class="col-sm-12">
                    <label class="form-check-label">Vehicle details :</label>
                    <textarea class="form-control mb-3" row="10" cols="10" id="details" name="veh-detail"></textarea>
                </div>
                <!-- Service Type -->
                <label class="form-check-label">Select Type of Service:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label for="ser" class="form-check-label">Oil Service</label><br>
                    <input class="form-check-input" type="checkbox">
                    <label for="ser" class="form-check-label">Denting & Painting</label><br>
                    <input class="form-check-input" type="checkbox">
                    <label for="ser" class="form-check-label">Interior & Exterior Cleaning</label>
                    <input class="form-check-input" type="checkbox">
                    <label for="ser" class="form-check-label">Engine and Transmission</label>
                    <input class="form-check-input" type="checkbox">
                    <label for="ser" class="form-check-label">other</label>
                </div>
                <button>Book Now</button>
            </div>
        </form>
        <h1>100% Customer Satisfaction! Hear Their Stories from the Best Multi-Brand Car Service in Chennai</h1>

    </div>
</div>