<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1>Expert Multibrand Car Service - Affordable & Reliable Care</h1>
        <ul class="service-list">
            <li><a href="/contact">➡️Oil service </a></li>
            <li><a href="/contact">➡️Muffler & Silencer Works: Quality repairs and installations. </a></li>
            <li><a href="/contact">➡️BCM & ECM Coding: Advanced vehicle coding. </a></li>
            <li><a href="/contact">➡️Key Coding: Secure and precise</a></li>
            <li><a href="/contact">➡️Car Door Works: Expert repairs and maintenance</a></li>
            <li><a href="/contact">➡️Interior Enrichments & Exterior Polishes: Premium detailing. </a></li>
            <li><a href="/contact">➡️CNG Conversions: Efficient and reliable. </a></li>
            <li><a href="/contact">➡️AC Works: Ac Overhaul, Ac Gas Topup</a></li>
            <li><a href="/contact">➡️Electrical Services: Comprehensive repairs and installations. </a></li>
            <li><a href="/contact">➡️Battery Services: Including new batteries. </a></li>
            <li><a href="/contact">➡️New Tyres: Competitive prices.</a></li>
            <li><a href="/contact">➡️3D Alignment & Balancing</a></li>
            <li><a href="/contact">➡️Water Wash</a></li>
            <li><a href="/contact">➡️Bosch Engine Scanning: For all latest-gen vehicles</a></li>
            <li><a href="/contact">➡️Tinkering & Painting: Professional paint booth services</a></li>
        </ul>
        <img src="assets/service-img1.webp" height="450px" width="530px" class="pb-4 pt-5"
            alt="car painting work in paint booth">
        <p> <a href="/contact">Tinkering & Painting: Professional paint booth services</a></p>
        <img src="assets/service-img2.webp" height="450px" width="530px" class="pb-4 pt-5"
            alt="Bosch Engine Scanning: For all latest-gen vehicles.">
        <p><a href="/contact">Bosch Engine Scanning: For all latest-gen vehicles.</a></p>
        <img src="assets/service-img3.webp" height="450px" width="530px" class="pb-4 pt-5"
            alt="3D Alignment & Balancing">
        <p><a href="/contact">3D Alignment & Balancing</a></p>
        <img src="assets/service-img4.webp" height="470px" width="530px" class="pb-4 pt-5"
            alt="Electrical Services: Comprehensive repairs and installations.">
        <p><a href="/contact">Electrical Services: Comprehensive repairs and installations.</a></p>

        <img src="assets/service-img6.webp" height="470px" width="530px" class="pb-4 pt-5" alt="Oil Service ">
        <p><a href="/contact">Oil Service </a></p>
        <img src="assets/service-img7.webp" height="470px" width="530px" class="pb-4 pt-5" alt="key coding ">
        <p><a href="/contact">Key Coding: Secure and precise and BCM & ECM Coding: Advanced vehicle coding. </a></p>
        <img src="assets/service-img8.webp" height="470px" width="530px" class="pb-4 pt-5"
        alt="Interior Enrichments & Exterior Polishes: Premium detailing. ">
        <p><a href="/contact">Interior Enrichments & Exterior Polishes: Premium detailing. </a></p>
        <img src="assets/service-img9.webp" height="470px" width="530px" class="pb-4 pt-5"
        alt="CNG Conversions: Efficient and reliable.">
        <p><a href="/contact">CNG Conversions: Efficient and reliable. </a></p>
    </div>
</div>