<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="text-center m-4 fs-1 lh-sm anim-target">KRSA AUTO CARE</h1>
        <p class="anim-target">Welcome to KRSA Auto Care! We are here to take care of all kinds of car services, no matter the brand. We are
            part of a big group of companies and have worked with Maruti, Tata, and Hyundai in the past. KRSA Auto Care
            has been around for 23 years, and we have a great team to help you with your car needs.</p>
        <h1 class="text-center mt-5 fs-3 lh-sm anim-target">Bosch Car Service Center at KRSA Autocare: Expert Vehicle Care</h1>

        <img src="assets/about-img1.webp" height="450px" width="530px" class="pb-4 pt-5 ms-5 ps-5 mb-3 anim-target">
        <h1 class="anim-target"><b>See What Our Happy Customers Are Saying</b> </h1>
        <div style="margin-right: 16vw;">
            <img src="assets/about-img2.webp" class="pb-4 pt-5 w-100 anim-target">
            <img src="assets/about-img3.webp" class="pb-4 pt-5 w-100 anim-target">
            <img src="assets/about-img4.webp" class="pb-4 pt-5 w-100 anim-target">
            <img src="assets/about-img5.webp" class="pb-4 pt-5 w-100 anim-target">
            <div class="d-flex align-items-center justify-content-center">
                <button class="button-edit anim-target">Book Now</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>