<div class="video-wrapper">
    <video class="video-bg" autoplay muted loop>
        <source src="https://videos.pexels.com/video-files/6158066/6158066-hd_1280_720_30fps.mp4" type="video/mp4" />
    </video>

    <!-- Overlay content on video -->
    <div class="overlay-container">
       <div class="heading">
        <h1>Best Car Service in Chennai</h1>
        <p>Experience top-notch car service from a trusted company with 23 years of expertise </p>
        <button>Explore</button>
       </div>
        <div class="link-box">
            <a href="#">Expert maintenance for all car brands. </a>
        </div>

        <div class="link-box">
            <a href="#">24 hrs helpline service available </a>
            <a href="#">Car service can be available in EMI service </a>
        </div>

        <div class="link-box">
            <a href="#">Cashless insurance claims available with all maximum eminent Insurance Companies </a>
            <a href="#">Insurance Renewal Services Available </a>
        </div>
    </div>
</div>