<div class="video-wrapper">
    <div class="video-bg-container">
        <video class="video-bg" autoplay muted loop>
            <source src="https://videos.pexels.com/video-files/6158066/6158066-hd_1280_720_30fps.mp4"
                type="video/mp4" />
        </video>
    </div>
    <!-- Overlay content on videos -->
    <div class="overlay-container">
        <div class="heading">
            <h3 class="anim-target">Best Car Service in Chennai</h3>
            <p class="h4 anim-target">Experience top-notch car service from a trusted company with 23 years of expertise
            </p>
            <button class="anim-target">Explore</button>
        </div>
        <div class="link-box-container d-flex flex-column align-items-center">
            <div class="link-box">
                <a href="#" class="anim-target">Expert maintenance for all car brands. </a>
            </div>

            <div class="link-box">
                <a href="#" class="anim-target">24 hrs helpline service available </a>
                <a href="#" class="anim-target">Car service can be available in EMI service </a>
            </div>

            <div class="link-box">
                <a href="#" class="anim-target">Cashless insurance claims available with all maximum eminent Insurance
                    Companies </a>
                <a href="#" class="anim-target">Insurance Renewal Services Available</a>
            </div>
        </div>
    </div>
</div>

<!-- Introduction part -->
<div>
    <h1 class="text-center anim-target fs-1 lh-sm m-5">Welcome to KRSA AutoCare – Your Trusted and Bosch authorized
        service center</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p class="text-start anim-target">At KRSA AutoCare, we pride ourselves on delivering top-notch, reliable
                    car
                    services that keep your vehicle running smoothly. As a Bosch-authorized service center, we bring the
                    best expertise to every job, ensuring quality you can trust.</p>

                <p class="anim-target chooseUS">Why Choose Us?</p>
                <p class="anim-target">➡️ Convenience: Free pick-up and delivery across Chennai. </p>
                <p class="anim-target">➡️Flexible Payments: Accept all digital payments and offer EMI services.</p>
                <p class="anim-target">➡️ Support: 24/7 helpline and cashless insurance claims.</p>
                <p class="anim-target">➡️Comfort: Enjoy our customer lounge while you wait.</p>
                <p class="pb-3 anim-target">Experience the best car service in Chennai today!</p>

                <!-- <iframe class="anim-target mat-elevation-z8" width="530" height="370"
                    src="https://www.youtube.com/embed/MMdeusAhu70" title="best car service in chennai" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                 <img src="../../assets/kate-ibragimova-iFQpqbLMOFU-unsplash.jpg" height="370px" width="530px" class="mat-elevation-z8 anim-target">
                <h2 class="mt-3 anim-target fs-1 lh-sm">Our general service offer </h2>
                <img src="../../assets/mehmet-talha-onuk-sEu9cAn7QLA-unsplash.jpg" height="370px" width="530px" class="mat-elevation-z8 anim-target">
                <p class="anim-target mt-4">Need the best car service near you? Come to our Krsa AutoCare Authorised
                    Bosch Service Centre. We
                    only use Bosch parts, which make your car more reliable and improve its performance. Whether it's a
                    repair or regular maintenance, we work on all types of cars. Trust us to keep your car running well.
                </p>
                <h2 class="text-center anim-target fs-1 lh-sm">One stop solution for multibrand car services</h2>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!-- images-->

    <div class="container my-5">
        <div class="gallery-tile-container">
            <div class="gallery-tile anim-target mat-elevation-z8" (click)="showImage('assets/car1.webp')">
                <img src="../../assets/david-von-diemar-qiXetZYKRls-unsplash.jpg" class="img-fluid h-100 w-100" alt="Car 1" style="object-fit: cover;">
            </div>
            <div class="gallery-tile anim-target mat-elevation-z8" (click)="showImage('assets/car2.webp')">
                <img src="../../assets/istockphoto-914314364-612x612.jpg" class="img-fluid h-100 w-100" alt="Car 2" style="object-fit: cover;">
            </div>
            <div class="gallery-tile anim-target mat-elevation-z8" (click)="showImage('assets/car3.webp')">
                <img src="../../assets/istockphoto-1188406099-612x612.jpg" class="img-fluid h-100 w-100" alt="Car 3" style="object-fit: cover;">
            </div>

            <div class="gallery-tile anim-target mat-elevation-z8" (click)="showImage('assets/car4.webp')">
                <img src="../../assets/istockphoto-1284285153-612x612.jpg" class="img-fluid h-100 w-100" alt="Car 4" style="object-fit: cover;">
            </div>
            <div class="gallery-tile anim-target mat-elevation-z8" (click)="showImage('assets/car5.webp')">
                <img src="../../assets/kenny-eliason-2K_-PG95qlI-unsplash.jpg" class="img-fluid h-100 w-100" alt="Car 5" style="object-fit:  cover;">
            </div>
            <div class="gallery-tile anim-target mat-elevation-z8" (click)="showImage('assets/car6.webp')">
                <img src="../../assets/istockphoto-1162113364-612x612.jpg" class="img-fluid h-100 w-100" alt="Car 6" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<h2 class="text-center anim-target fs-3 lh-sm">KRSA AutoCare: We Service All Car Brands</h2>
<p class="text-center anim-target">At KRSA AutoCare, we offer multibrand car service for all types of vehicles, whether
    you drive a
    Maruti Suzuki,
    Mercedes-Benz, or any other brand. Our skilled mechanics use only genuine Bosch parts, ensuring your car gets the
    best care possible.</p>

<h2 class="d-flex justify-content-center align-items-center anim-target" style="height: 100px;">
    <a href="/contact" class="animate-link">
        Book Your Car Service Online
    </a>
</h2>
<p style="text-align: center;" class="anim-target">It's easy to get your car serviced with us. You can book a car
    mechanic online through
    our website. Just choose your
    car brand, select the service you need, and pick a time that works for you. With just a few clicks, your car will be
    in expert hands.</p>

<h2 class="text-center anim-target fs-2 lh-sm">Brands We Service:</h2>
<h6 class="ps-5 anim-target fs-2 lh-sm">Indian Car Brands</h6>
<ul class="brand-list anim-target">
    <li>➡️ Maruti Suzuki</li>
    <li>➡️ Tata Motors</li>
    <li>➡️ Mahindra</li>
    <li>➡️ Hyundai</li>
    <li>➡️ Honda</li>
    <li>➡️ Toyota</li>
    <li>➡️ Ford</li>
</ul>
<h6 class="ps-5 anim-target fs-2 lh-sm">Luxury Car Brands</h6>
<ul class="brand-list anim-target">
    <li>➡️ Mercedes-Benz</li>
    <li>➡️ BMW</li>
    <li>➡️ Audi</li>
    <li>➡️ Jaguar</li>
</ul>

<div class="text-center anim-target">
<p style="font-size: 15px;">
  Choose KRSA AutoCare for reliable service for any car brand, and easily
  <a [routerLink]="'/contact'" class="text-primary text-decoration-underline">
    book your car service online today!
  </a>
</p>



</div>


<div class="image-viewer d-flex flex-column" *ngIf="showImageViewer">
    <div class="d-flex justify-content-end" (click)="hideImage()">
        <div><button type="button" class="btn-close my-close" aria-label="Close"></button>
        </div>
    </div>
    <div class="image-container flex-grow-1 d-flex align-items-center justify-content-center position-relative">
        <div (click)="hideImage()" class="position-absolute top-0 start-0 w-100 h-100"></div>
        <img [src]="currentImgSrc">
    </div>
</div>